$black-color: #000000;
$green-color: #35654D;
$dark-green-color: #264A38;
$red-color: #D11613;
$white-color: #FFFFFF;

.st0Black {
  fill: $black-color;
}

.st0Red {
  fill: $red-color;
}

.st0White {
  fill: $white-color;
}

.st0DarkGreen {
  fill: $dark-green-color;
}