$black-color: '#000000';
$green-color: '#35654D';
$red-color: '#830E0D';
$white-color: '#FFFFFF';

.st0Black {
  fill: $black-color;
}

.st0Red {
  fill: $red-color;
}

.st0White {
  fill: $white-color;
}