@import './color.scss';
@import './typography.scss';

body * {
  font-family: $font-family;
  -webkit-font-smoothing: antaialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white-color;
}

body {
  // background: url('../assets/images/table-felt.jpg') repeat center / cover;
  background: $dark-green-color;
  position: relative;
} // need to fix image to make better dimensions and resolution



h1, h2, h3, h4, h5, h6, ol, ul, li, p, pre, blockquote {
  font-family: $font-family;
  color: $white-color !important;
  a {
    text-decoration: none;
    :hover
    :visited
    :active
    :focus {
      color: #8C8C8C !important;
    }
  }
  code {
    font-family: $font-family-monospace;
  }
}