@import './color.scss';
@import './typography.scss';

body * {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('../assets/images/table-felt.jpg') repeat center / cover;
  position: relative;
}

code {
  font-family: $font-family-monospace;
}

h1, h2, h4, h5, h6, p {
  font-family: $font-family;
  a {
    text-decoration: none;
    :hover
    :visited
    :active
    :focus {
      color: #8C8C8C !important;
    }
  }
}