@import url('https://use.typekit.net/erk5qvh.css');

// font families
$font-family: -apple-system, BlinkMacSystemFont, franklin-gothic-condensed, forma-djr-text, sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, monospace;

// medium (headlines): 900 weight; black (cards): 900 weight; 
$forma-font: forma-djr-text;

// pro (main text): 500 weight;
$franklin-font: franklin-gothic-condensed;

@mixin cardStyle {
  font-family: $forma-font, sans-serif;
  font-weight: 900;
  letter-spacing: 0.7px;
  margin-bottom: 4px;
  -webkit-font-smoothing: antialiased;
}

.cardStyle {
  @include cardStyle();
}

@mixin cardStyleParagraph {
  font-family: $franklin-font, sans-serif;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}
.cardStyleParagraph {
  @include cardStyleParagraph();
}

.cardStyleSubheading {
  @include cardStyle();
  font-size: 15px;
  text-align: left !important;
}

.buttonStyle {
  @include cardStyleParagraph();
  font-weight: 900;
}